@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
	--color-midnight: #06234f;
	--color-smoky: #d9d9d9;
	--color-pearl: #ffffff;
	--color-blay: #b4bbc9; /*get it? blue gray?? haha*/
	/*extra therapy colors */
	--color-lilac: #e3cbf8;
	--color-peach: #ffe1b8;
	--color-salmon: #eeb586;
	--color-lime: #ddf492;
	--color-sky: #b8d3fb;
	--color-buttercup: #f6e274;
	--color-rose: #ea7b7b;
	--color-blue-green: #85e0c2;

	--font-cormorant-garamond: "Cormorant Garamond", serif;
	--font-sc-encode: "Encode Sans SC", sans-serif;
}

/* Buttons */
.btn {
	font-family: "Encode Sans SC", sans-serif;
	text-align: center;
	background: #06234f;
	border: 0;
	padding: 5px 5px;
	-webkit-text-fill-color: white;
}

/* Text Inputs */
.input {
	background-color: #d9d9d9;
	fill: #d9d9d9;
	padding: 0px 8px 0px 8px;
}
