@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
	--color-color1: #06234f;
	--color-color2: #d9d9d9;

	--color-navy: #06234f;
	--color-smoky: #d9d9d9;
	--color-pearl: #ffffff;
	--color-blay: #b4bbc9;
}

/*Fonts */
.cormorant-garamond {
	font-family: "Cormorant Garamond", serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	-webkit-text-fill-color: black;
}

.SC-encode {
	font-family: "Encode Sans SC", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	-webkit-text-fill-color: white;
}

/*Buttons */
.manosSubmit,
button.fileSubmit,
button.btn {
	font-family: "Encode Sans SC", sans-serif;
	text-align: center;
	background: navy;
	border: 0;
	padding: 5px 5px;
	-webkit-text-fill-color: white;
}

button.manosSubmit {
	display: flex;
	flex-direction: column;
}

/*layout*/
div.fullPage {
	flex-direction: column;
	height: 100%;
}

div.contactFormPage {
	display: flex;
	height: auto;
	place-content: center;
}

div.contactFormArea {
	font-family: "Cormorant Garamond", serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	-webkit-text-fill-color: black;
	flex: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

div.contactFormContent {
	font-size: var(--text-lg);
	line-height: var(--tw-leading, var(--text-lg--line-height));
	justify-content: flex-start;
	padding: calc(var(--spacing) * 5);
}

form.contactForm {
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	background-color: var(--color-white);
}

/*yippe inputs*/
div.freeResponseArea {
	flex-wrap: wrap;
	gap: calc(var(--spacing) * 5);
}

div.inputBoxRow {
	height: auto;
	gap: calc(var(--spacing) * 7);
}

div.addressInputBoxRow {
	height: auto;
	width: 100%;
	gap: calc(var(--spacing) * 1);
}

div.textLabelAndBox_Size1,
div.textLabelAndBox_Size2,
div.textLabelAndBox_Size3,
div.textLabelAndBox_Size4 {
	display: flex;
	flex-direction: column;
}

input.contactInput {
	background-color: #d9d9d9;
	fill: #d9d9d9;
	padding: 0px 8px 0px 8px;
}

.contactFormListbox,
.listbox {
	background-color: #d9d9d9;
	fill: #d9d9d9;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.contactFormListboxButton,
.listboxButton {
	cursor: pointer;
	align-content: flex-start;
	/* padding: 0px 8px 0px 8px; */
}

.contactFormListboxOptions,
.listboxOptions {
	flex-direction: column;
	background-color: var(--color-gray-100);
	/* padding: 0px 8px 0px 8px; */
}

.contactFormListboxOption,
.listboxOptions {
	cursor: pointer;
	&:hover {
		@media (hover: hover) {
			background-color: var(--color-blue-500);
		}
	}
}

.contactFormListboxOption,
.contactFormListboxOptions,
.contactFormListboxButton,
div.freeResponseArea,
form.contactForm,
div.contactFormContent,
div.inputBoxRow,
div.fullPage {
	display: flex;
	width: 100%;
}

/* diff media sizes */
@media (width >= 0rem) {
	div.textLabelAndBox_Size3,
	button.fileSubmit {
		width: calc(var(--spacing) * 55);
	}
	div.textLabelAndBox_Size4 {
		width: calc(var(--spacing) * 30);
	}
	div.textLabelAndBox_Size2 {
		width: calc(var(--spacing) * 40);
	}
	div.textLabelAndBox_Size1 {
		width: calc(var(--spacing) * 50);
	}
	div.addressInputBoxRow,
	div.inputBoxRow {
		flex-direction: column;
	}
	div.contactFormArea {
		width: calc(4 / 5 * 100%);
	}
}

@media (width >= 40rem) {
	div.textLabelAndBox_Size4 {
		width: calc(var(--spacing) * 40);
	}

	div.textLabelAndBox_Size3,
	button.fileSubmit {
		width: calc(var(--spacing) * 100);
	}

	div.textLabelAndBox_Size2 {
		width: calc(var(--spacing) * 60);
	}

	div.textLabelAndBox_Size1 {
		width: calc(var(--spacing) * 75);
	}
}

@media (width >= 48rem) {
	div.textLabelAndBox_Size4 {
		width: calc(1 / 5 * 100%);
	}
	div.textLabelAndBox_Size3 {
		width: calc(7 / 10 * 100%);
	}
	div.textLabelAndBox_Size2 {
		width: calc(1 / 4 * 100%);
	}
	div.textLabelAndBox_Size1 {
		width: calc(3 / 10 * 100%);
	}
	div.addressInputBoxRow,
	div.inputBoxRow {
		flex-direction: row;
	}
	div.contactFormArea {
		width: calc(var(--spacing) * 200);
	}
	button.fileSubmit {
		width: calc(35 / 100 * 100%);
	}
}
