@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";

input.test {
	background-color: aqua;
}

.cormorant-garamond {
	font-family: "Cormorant Garamond", serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	-webkit-text-fill-color: black;
}

label.contactLabel {
	display: inline-block;
	margin: 15px 0 0;
	font-size: 0.6em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-weight: 600;
}

input.contactInput,
select.contactSelect {
	display: block;
	padding: 10px 10px;
	width: 100%;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #ddd;
	color: #555;
}
input[type="checkbox"] {
	display: inline-block;
	width: 16px;
	margin: 0 10px 0 0;
	position: relative;
	top: 2px;
}

button.contactSubmit {
	background: #0b6dff;
	border: 0;
	padding: 10px 10px;
	margin-top: 20px;
	-webkit-text-fill-color: white;
	border-radius: 20px;
}
.submit {
	text-align: center;
}

@theme {
	--color-color1: #06234f; /*still in CF, change l8r? */
	--color-color2: #d9d9d9;

	--color-navy: #06234f;
	--color-smoke: #d9d9d9;
	--color-blugrey: #b4bbc9;
	--color-pearl: #f5f5f5;
	/*Therapy colors */
	--color-darkorange: #eeb586;
	--color-banana: #ece4b9;
	--color-peach: #ffe1b8;
	--color-lime: #ddf492;
	--color-buttercup: #f6e274;
	--color-periwinkle: #b8d3fb;
	--color-lavender: #e3cbf8;

	--font-display: "cormorant-garamond", "sans-serif"; /*??? bro does nothing */
}
